


body {
    background-color: #1C4A48;
}


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-responsive img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    padding-left: 10px;
}

.img1-location {
    margin-top: 0px;
    margin-right: 0px;
}

img2-location {
    margin-top: 0px;
    margin-left: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: auto;
    text-align: center;
}


