
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C4A48;
}

li {
    float: left;
    width: 20%;
}

    li a {
        display: block;
        padding: 8px;
        margin: 0;
        background-color: #1C4A48;
        color: #FFF;
       
    }

.logo {
    margin-top: 0px;
    margin-left: 0px;
}

