


body {
    background-color: #1C4A48;
}


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-responsive img {
    width: 100%;
    max-width: 1000px;
    height: 300px;
}

.img1-location {
    margin-top: 0px;
    margin-right: 0px;
}

img2-location {
    margin-top: 0px;
    margin-left: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: auto;
    text-align: center;
}


.text-block {
    position: relative;
    bottom: 300px;
    right: 300px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.8;
    text-align: center;
    width: 600px;
}

.text-block2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 350px;
    height: 100px;
    opacity: 0.8;
    text-align: center;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-bottom {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-bottom {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.right-bottom {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
}


