{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/event_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="body">
    <div class="row">
        <div class="column">
            <div id="img1" class="img1-location img-responsive ">
                <!-- Display the image for the page -->
                {% image page.img1 fill-500x500 %}

            </div>
            <p>{{ page.eventcalendar|richtext }}</p>
        </div>
        <div class="column">
            <p>{{ page.body|richtext }}</p>
            </div>
    </div>

<div id="footer-img " class="footer">

    {% image page.footer fill-2000x45 %}
</div>
</div>
    {% endblock %}