{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="body">
    <div class="row">
        <div class="column">
            <div id="img1" class="img1-location img-responsive ">
                <!-- Display the image for the page -->
                {% image page.homeimg1 height-500 %}

            </div>
        </div>
        <div class="column">
            <div id="img2" class="img2-location img-responsive">

                {% image page.homeimg2 height-500 %}

            </div>
        </div>

        <div class="text-block centered">

            <p>{{ page.textbox1|richtext }}</p>
        </div>

        <div class="text-block2 centered-bottom">

            {{ page.textbox2|richtext }}
        </div>

        <div class="text-block2 left-bottom">

            {{ page.textbox3|richtext }}
        </div>

        <div class="text-block2 right-bottom">

            {{ page.textbox4|richtext }}
        </div>

    </div>

    <div class="row">
        <div class="column">
            <div id="img3" class="img1-location img-responsive ">
                <!-- Display the image for the page -->
                {% image page.homeimg3 height-500 %}

            </div>
        </div>
        <div class="column">
            <div id="img4" class="img2-location img-responsive">

                {% image page.homeimg4 height-500 %}

            </div>
        </div>

      
    </div>

<div id="footer-img " class="footer">

    {% image page.footer fill-2000x45 %}
</div>
</div>
    {% endblock %}

