﻿{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    {% block image %}
    <div class="row">
        <div id="logo-img" class="logo">
            {% image page.logo width-800 %}
        </div>


    </div>
    {% endblock %}
    {% block navbar %}
    <div class="row">
        <div class="col-md-12">
            <nav class=" = "navbar-nav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% slugurl 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% slugurl 'events-training' %}">Events and Training</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% slugurl 'about-us' %}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% slugurl '' %}">Our Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% slugurl '' %}">Contact Pages</a></li>
                </ul>
            </nav>
        </div>
    </div>

        {% endblock %}
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
</body>
</html>
